<div class="wraper">
<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) %>)">
    <h1><%= @bike.name %></h1>
    <h1><%= @bike.description %></h1>
    <h1><%= @bike.price %></h1>
      <script>
        console.log('Price:', <%= @bike.price.to_json %>);
      </script>
    <div data-controller='datepicker'>
      <%= simple_form_for [@bike, @booking] do |f| %>
        <%= f.input :checkin, as: :string, input_html: { data: { datepicker_target: 'dateField', datepicker_price_value: @bike.price.to_json } } %>
        <%= f.button :submit, 'Create Booking', class: 'btn btn-primary' %>
      <% end %>
    <h3>Price: <span data-datepicker-target='priceDisplay'></span></h3>
    </div>
  </div>
</div>
</div>
