<div class="wraper">
  <div class="banner p-4" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_url('bicycle.jpg') %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="container">
      <h1 style="color: white;">Our bikes in Germany</h1>
      <p style="font-size: 16px; color: white; width: 400px; word-break: break-word;">
        Looking to buy a bike in Germany? Choose a Bikerent subscription instead. Our store has cool city bikes or electric bikes to choose from in unisex frames for women or men.
      </p>

      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get" style="position: relative;">
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="" style="width: 600px; padding-right: 50px;" />
          <button name="button" type="submit" class="btn btn-flat" style="position: absolute; right: 50; top: 0; height: 100%;">
            <i class="fas fa-search"></i> Search for a bike in your area
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="container mt-5">
    <div class="cards mb-4">
      <% @bikes.each do |bike| %>
        <div class="card-bike mb-3">
          <%= link_to bike_path(bike), class: "text-decoration-none" do %>
            <div class="d-flex justify-content-center align-items-center card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
              <h3 class="p-0" >Bike pic</h3>
            </div>
          <% end %>
          <div class = "p-3 nameandprice">
            <p><strong>Name:</strong> <%= bike.name %></p>
            <p><strong>Price per Day:</strong> <%= bike.price %>€ / day</p>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Offer your bike", new_bike_path %>
  </div>
</div>
