<div class="wraper">
    <div class="banner p-4" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_url('bicycle.jpg') %>'); background-repeat: no-repeat; background-size: cover; background-position: center;">
      <div class="container">
        <h1 style="color: white;">Our bikes in Germany</h1>
        <p style="font-size: 16px; color: white; width: 400px; word-break: break-word;">
          Looking to buy a bike in Germany? Choose a Bikerent subscription instead. Our store has cool city bikes or electric bikes to choose from in unisex frames for women or men.
        </p>

        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get" style="position: relative;">
          <div class="search-form-control form-group">
              <%# end of previous version %>
            <div class="row justify-content-left">
                <div class="col-sm-8 my-3">
                  <%= form_with url: bikes_path, method: :get, class: "d-flex" do %>
                    <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "Type a keyword"%>
                    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
                  <% end %>
                </div>
           </div>
          </div>
        </form>
      </div>
    </div>
  <div class="container my-5">
    <div id="top" class="mb-2 d-flex justify-content-end">
      <%= link_to "Offer your bike", new_bike_path, class:"btn btn-primary" %>
    </div>
    <div class="cards">
      <% @bikes.each do |bike| %>
        <div class="card-bike ">
          <div class=" d-flex justify-content-center align-items-center card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(20,0,0,0.1), rgba(0,20,0,0.2)), url(<%= cl_image_path bike.photo.key, height: 300, crop: :fill %>)">
            <h3 class="p-0"><%= link_to bike_path(bike), class: "text-decoration-none" do %><%= bike.name %></h3>
            <% end %>
          </div>
            <%# card info %>
          <div class="p-3">
            <p><strong>Name:</strong> <%= bike.name %></p>
            <p><strong>Price per Day:</strong> <%= bike.price %>€ / day</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
